* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  color: #000000;
}

.header {
  width: 100%;
  height: 900px;
  background-color: #ccdef0;
  background-image: radial-gradient(
    circle 675px at center,
    #ffffff 0%,
    #ccdef0 100%
  );
}

.container {
  width: 1170px;
  margin-left: auto;
  margin-right: auto;
}

.nav-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 70px;
  margin-bottom: 90px;

}

.logo {
  font-family: "Montserrat - Black";
  font-weight: 900;

  font-size: 28px;
  line-height: 1;

  color: #000000;
}

.logo span {
  color: #5abb33;
}

.nav {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
}
.nav__item {
  margin-right: 50px;
}
.nav__item:last-child {
  margin-right: 0;
}

.nav__link {
  color: #000000;
  text-decoration: none;

  font-size: 18px;
  font-weight: 500;
  line-height: 5;
}

.nav__link:hover {
  text-decoration: underline;
}

/* header-content */
.header-content {
  display: flex;

}
.header-desc {
  width: 500px;
  padding-top: 90px;

}

.header-title {
  color: #000000;
  font-weight: 800;
  font-size: 48px;
  line-height: 1.3;
  margin: 0;
  margin-bottom: 35px;
}

.header-text {
  font-size: 20px;
  font-weight: 500;
  line-height: 1.7;
  margin-bottom: 35px;
}

.header-btn {
  display: inline-block;
  height: 65px;
  padding-left: 35px;
  padding-right: 35px;
  border-radius: 60px;
  background-color: #fadb60;
  background-image: linear-gradient(to top, #ffcc00 0%, #fadb60 100%);

  /* Style for "Получить з" */
  color: #000000;
  font-size: 24px;
  font-weight: 700;
  text-decoration: none;
  line-height: 62px;
}
.header-photo {
  width: 670px;
}


/* Иконки соц.сетей */
.header-social {

}
.header__social-item {
  font-size: 27px;
  color: #3d3e3f;
  text-decoration: none;
  margin-right: 30px;
}
.header__social-item:last-child {
  margin-right: 0;
}
/* прозрачность иконок при наведении курсора */
.header__social-item:hover {
  opacity: 0.8; 
}


/* подвал */
.footer {
  width: 100%;
  height: 114px;
  background-color: #232323;
  color: #ffffff;

  display: flex;
  justify-content: center;
  align-items: center;

/* Style for "Сверсталa Ю" */
  font-size: 16px;
  line-height: 2;
  font-weight: 500;
}
.footer::before {
  content: "";
  display: table;
}

.footer span {
  color: #fada5a;
  text-decoration: none;
}
.footer span:hover {
  text-decoration: underline;
  
}